/*navigation */
body{
    margin: auto 0;
}
.green{
    background-color:#E0C8ED;
}
.blue{
    background-color:#7BF5B0;
}
.main-nav{
    display: flex;
    list-style: none;
    font-size: 20px;
    margin: 0;
}
.sticky{
    position:fixed;
    top: 0;
    width:100%;
}
@media only screen and (max-width:600px){
    .main-nav{
        font-size:0.5em;
        padding: 0;
    }
}
.left{
    margin-left: auto;
}
li{
    padding:20px;
}
a{
    color:#65357E;
    text-decoration: none;
}
/* cover */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: black;
}
.cover{
    width:30em;
}
/* products */
.grid-wrapper{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}
.box > img{
    width:100%;
}
.box{
    background-color:#F9F171;
    padding:100px;
    margin: 10px;
}
.box:hover{
    transform: rotate(-8deg);
}
.footer{
    text-align: center;
    background-color:#FCD2BC;
}
